*{
	margin:0;
	padding:0;
	font-family:Arial, Tahoma, Geneva;
}
ul{
	margin: auto;
    width: 50%;
	padding:40px;
	list-style-type: none;
	border:5px;
}
ul li{
	display:inline-block;
	padding:5px;
	text-transform: uppercase;
	font-weight:bold;
}
ul li a{
	text-decoration:none;
	border:1px solid black;
	padding:10px;
	border-radius:8%;
}
ul li a:hover{
	background:#e0db3f;
}